@import '../../../../styles/mixins';

.add-employees {
  .modal-dialog {
    max-width: 640px !important;
    max-height: 668px !important;

    .modal-content {
      .modal-header {
        max-height: 56px !important;
        margin-bottom: 24px;
        margin-left: 5px;
        .modal-title {
          font-size: $font-large!important;
          line-height: 12px;
        }
        &.user-new {
          padding: 20px;
          margin: 0;
        }
      }
      form {
        .modal-body {
          margin-left: 40px !important;
          .form-group {
            color: $color-dark-grey;
            display: flex;
            margin-left: -20px;
            align-items: center;
            label {
              padding: 0;
              margin: 0;
              margin-right: -12px !important;
              font-size: $font-medium;
              line-height: 16px;
            }
            .col-form-label {
              font-weight: bold;
              color: $color-xdark;
              &.mandatory-msg {
                font-weight: normal !important;
                color: $color-dark-grey!important;
                font-style: italic;
              }
            }
            .employee-input-group {
              padding: 0 !important;
              margin-left: -20px;
              .add-employee-input {
                border-radius: 0 !important;
                min-height: 40px;
                padding-left: 10px;
                width: 420px;
                border: 2px solid $color-medium-grey;
                color: $color-dark-grey;
                font-size: $font-small;
                line-height: 14px;

                &:focus {
                  outline: 0 !important;
                  box-shadow: none;
                }
                &.input-error {
                  border: 1px solid $color-danger;
                }
              }

              textarea {
                height: 68px !important;
                font-size: $font-medium;
                line-height: 16px;
                resize: none;
              }
            }
            .instruction-msg {
              font-size: $font-small;
              font-style: italic;
              color: $color-input-msg;
              line-height: 16px;
              margin-top: 8px;
              padding-left: 10px;
              margin-left: 28.5%;
              &.error {
                color: $color-danger;
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 20px !important;
        .btn {
          &.disabled {
            pointer-events: none;
            background: $color-button-disabled;
          }
        }
      }
    }
  }
}
