@import './mixins';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .modal {
    &.modal-show {
      display: block !important;
      background: rgba(0, 0, 0, 0.6);
    }
    &.modal-hide {
      display: none !important;
    }
    border: none;
    .modal-dialog {
      color: $color-xdark;
      .modal-content {
        border-radius: 0 !important;
        .modal-header {
          border: none !important;
          align-items: center;
          height: 56px;
          .modal-title {
            font-weight: bold;
            font-size: $font-large;
            line-height: 12px;
          }
          i {
            cursor: pointer;
            font-size: $font-icon-large;
            color: $color-dark-grey;
            line-height: 32px;
            &:hover {
              color: $color-primary;
            }
            &.user-close {
              font-size: 28px;
              line-height: 38px;
            }
          }
        }
        .modal-body {
          padding: 0 !important;
        }
        .modal-footer {
          border: 0 !important;
          .btn {
            width: 148px;
            height: 48px;
            font-size: $font-small;
            font-weight: bold;
            color: $color-primary;
            line-height: 30px;
            border: 2px solid $color-primary;
            background-color: $color-white;
            margin-left: 20px;
            &.btn-submit {
              background: $color-primary;
              color: $color-white;
            }
            &.btn-delete {
              background: $color-danger;
              color: $color-white;
              border: none;
              &:hover {
                background: $color-negative;
              }
            }
            &:hover {
              color: $color-white;
              background: $color-hover;
            }
            &:focus {
              outline: 0 !important;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
