@import '../../../styles/mixins';


.customers-container {

  tr.open {
      
    .heading {
      background: #4d98bc;
      color: #ffffff;
      
      .col {
        border: none;
      }
    }
    
    .content {
      height: 300px;
      // height: auto;
      opacity: 1;
    }
    
  }
  padding-left: 5%;
  .customers-header {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .customer-table {
    position: relative;
    min-height: 75vh;
    .loader-wrapper {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
    }
    table {
      thead {
        th {
          width: 20%;
          padding-bottom: 20px;
          font-size: @font-medium;
          line-height: 16px;
          color: @color-xdark;
          text-align: left;
          border: none;
          &:first-child {
            padding-left: 20px;
          }
          @media screen and (max-width: 1348px) {
            min-width: auto !important;
          }
        }
      }
      tbody {
        tr {
          height: 70px;
          cursor: pointer;
          &:hover {
            td {
              &:last-child {
                .btn {
                  opacity: 1;
                }
              }
            }
          }
          td {
            vertical-align: middle;
            border: none;
            font-size: @font-medium;
            line-height: 16px;
            color: @color-dark-grey;
            position: relative;
            &:first-child {
              padding-left: 20px;
            }
            .btn {
              opacity: 0;
              width: 84px;
              height: 32px;
              font-size: @font-small;
              color: @color-primary;
              border: 2px solid @color-primary;
              margin-top: 7px;
              &.delete {
                background: transparent;
              }
              &.edit {
                background: @color-primary;
                color: @color-white;
                margin-right: 10px;
              }
              &:hover {
                color: @color-white;
                background: @color-hover;
              }
              &:focus {
                outline: 0 !important;
                box-shadow: none;
              }
            }
            &:nth-child(5n) {
              display: flex;
              justify-content: flex-end;
              padding-right: 25px;
            }
          }
        }
      }
    }
  }
  .table-footer {
    padding-left: 35px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .pagination {
    color: @color-dark-grey;
    display: flex;
    flex-direction: row;
    height: 17px;
    min-width: 205px;
    justify-content: flex-end;
    font-size: @font-small;
    line-height: 14px;
    label {
      padding: 0;
      margin: 0;
    }
    .total-count {
      padding-right: 55px;
      padding-left: 0;
      display: flex;
      align-items: center;
    }
    .pagination-controls {
      display: flex;
      padding: 0;
      position: relative;
      justify-content: center;
      margin-right: 20px;
      align-items: center;
      .prev {
        position: relative;
        cursor: pointer;
        &:after {
          content: '\f111';
          font-family: @font-family-icon;
          font-size: @font-icon-xsmall;
          line-height: 18px;
          position: absolute;
          right: 0;
          top: -9px;
        }
      }
      label {
        min-width: 69px;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
      }
      .next {
        cursor: pointer;
        position: relative;
        &:after {
          content: '\f112';
          font-family: @font-family-icon;
          line-height: 18px;
          font-size: @font-icon-xsmall;
          position: absolute;
          top: -9px;
        }
      }
    }
  }
}
