@import '../../../styles/mixins';
// @import '../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.card-content{
  padding: 0px !important;
}
.inner {
  min-width: 1050px;
}
.actions {
  justify-content: flex-end !important;
}

.items-center{
  text-align: center !important;
}
// .btn-danger {
//   color: #fff !important;
//   background-color: #dc3545 !important;
//   border-color: #dc3545 !important;
// }

.employees-container {
  padding: 24px !important;
  // margin-top: 2px;

  .employee-table{
    margin-top: 2px;
 }
 .search-input{
    margin-right: 8px;
    margin-left: 15px;
}
.row {
    height: 42px;
    display:flex;
    align-items:center;
    margin-top: 8px;
    margin-right: 0px;
  }
.flex{
    flex-grow: 1;
  }
  .btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  }
.deleteButton {
    margin-left: 8px !important;
  }
.card-content{
    padding: 0px !important;
}
.inner {
    min-width: 1050px;
  }
  .actions {
    justify-content: flex-end !important;
  }

  .items-center{
    text-align: center !important;
  }

  .employees-header {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .employee-table {
    position: relative;
    min-height: 75vh;
    .loader-wrapper {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
    }
    table {
      thead {
        th {
          width: 20%;
          padding-bottom: 20px;
          font-size: $font-medium;
          // line-height: 16px;
          line-height: 1.5rem;
          color: $color-xdark;
          text-align: left;
          border: none;
          &:first-child {
            padding-left: 20px;
          }
          @media screen and (max-width: 1348px) {
            min-width: auto !important;
          }
        }
      }
      tbody {
        tr {
          height: 70px;
          cursor: pointer;
          &:hover {
            td {
              &:last-child {
                .btn {
                  opacity: 1;
                }
              }
            }
          }
          td {
            vertical-align: middle;
            border-bottom: 1px solid #eeeeee;
            font-size: $font-medium;
            line-height: 16px;
            // color: $color-dark-grey;
            position: relative;
            &:first-child {
              padding-left: 20px;
            }
            .btn {
              opacity: 0;
              width: 86px;
              height: 35px;
              // font-size: $font-small;
              // color: $color-primary;
              // border: 2px solid $color-primary;
              // margin-top: 7px;
              // &.delete {
                // background: $color-negative;
                // color: $color-white;
                // border: 2px solid $color-negative;
              //   background: transparent;

              // }
              &.edit {
                background: #3f51b5;
                color: $color-white !important;
                margin-right: 3px;
              }
              // &:hover {
              //   color: $color-white;
              //   background: $color-hover;
              // }
              // &:focus {
              //   outline: 0 !important;
              //   box-shadow: none;
              // }
            }
            &:nth-child(5n) {
              display: flex;
              justify-content: flex-end;
              padding-right: 25px;
            }
          }
        }
      }
    }
  }
  .table-footer {
    padding-left: 35px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .pagination {
    color: $color-dark-grey;
    display: flex;
    flex-direction: row;
    height: 17px;
    min-width: 205px;
    justify-content: flex-end;
    font-size: $font-small;
    line-height: 14px;
    label {
      padding: 0;
      margin: 0;
    }
    .total-count {
      padding-right: 55px;
      padding-left: 0;
      display: flex;
      align-items: center;
    }
    .pagination-controls {
      display: flex;
      padding: 0;
      position: relative;
      justify-content: center;
      margin-right: 20px;
      align-items: center;
      .prev {
        position: relative;
        cursor: pointer;
        &:after {
          content: '\f111';
          font-family: $font-family-icon;
          font-size: $font-icon-xsmall;
          line-height: 18px;
          position: absolute;
          right: 0;
          top: -9px;
        }
      }
      label {
        min-width: 69px;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
      }
      .next {
        cursor: pointer;
        position: relative;
        &:after {
          content: '\f112';
          font-family: $font-family-icon;
          line-height: 18px;
          font-size: $font-icon-xsmall;
          position: absolute;
          top: -9px;
        }
      }
    }
  }
}
