@import '../../../../../styles/mixins';
.add-customers {
  .modal-dialog {
    max-width: 903px !important;
    max-height: 70px !important;
    .modal-content {
      .modal-header {
        max-height: 56px !important;
        margin-bottom: 24px;
        margin-left: 5px;
        .modal-title {
          font-size: $font-large!important;
          line-height: 12px;
        }
        &.user-new {
          padding: 20px;
          margin: 0;
        }
      }
      form {
        .modal-body {
          height: 170px;
          // min-height: 70vh;
          // overflow-y: scroll;
          // overflow-x: hidden;
          font-size: 12px !important;
          .row.field {
            margin: 0px;
            & .col-md-6 {
              .form-group {
                color: $color-dark-grey;
                display: flex;

                align-items: center;
                label {
                  font-size: 13px;
                }
                .col-form-label {
                  font-weight: normal;
                  color: $color-xdark;
                  padding-left: 20px;
                  &.mandatory-msg {
                    font-weight: normal !important;
                    color: $color-dark-grey!important;
                    font-style: italic;
                  }
                }
                .customer-input-group {
                  padding: 0 !important;
                  margin-left: -20px;
                  .add-customer-input {
                    border-radius: 6px !important;
                    min-height: 40px;

                    border: 1px solid $color-medium-grey;
                    color: #333333;
                    font-size: $font-small;

                    display: flex;
                    align-items: center;
                    .react-date-picker__wrapper {
                      border: none;
                      input {
                        color: #333333;
                        cursor: pointer;
                      }
                      .react-date-picker__button {
                        display: none;
                      }
                    }
                    &:focus {
                      outline: 0 !important;
                      box-shadow: none;
                    }
                    &.input-error {
                      border: 1px solid $color-danger;
                    }
                  }
                  textarea {
                    height: 68px !important;
                    font-size: $font-medium;
                    line-height: 16px;
                    resize: none;
                  }
                }
                .instruction-msg {
                  font-size: $font-small;
                  font-style: italic;
                  color: $color-input-msg;
                  line-height: 16px;
                  margin-top: 8px;
                  padding-left: 10px;
                  margin-left: 28.5%;
                  &.error {
                    color: $color-danger;
                  }
                }
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 20px !important;
        .btn {
          &.disabled {
            pointer-events: none;
            background: $color-button-disabled;
          }
        }
      }
    }
  }
}
