@import '../../styles/mixins.less';
aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  background: @color-primary;
  bottom: 0px;
  @media only screen and (max-width: 640px) {
    height: 70px;
  }
  .side-nav-container {
    width: 70px;

    .menuToggle {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      width: 70px;
      height: 70px;
      padding: 20px;
      background: @color-primary;
    }

    .menuToggle input {
      display: block;
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    .menuToggle span {
      display: block;
      width: 30px;
      height: 3px;
      margin-top: 7px;
      position: relative;

      background: white;

      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    .menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    .menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    .menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      margin-top: 7px;
      margin-bottom: -2px;
      margin-left: 5px;
    }

    .menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    .menu {
      position: absolute;
      width: 70px;
      padding: 0px;

      background: @color-primary;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;

      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      top: 0;
      left: 0;
      bottom: 0;
      padding-top: 70px;
    }
    .menuToggle input:checked ~ ul {
      transform: none;
      background: @color-primary;
      position: fixed;
      height: 100em;
      margin: 0px;
    }

    .menu li {
      cursor: pointer;
      text-align: center;
      padding: 9px;
      width: 70px;
      height: 70px;
      color: @color-white;
      &:hover {
        background: @color-hover;
      }

      i {
        font-size: @font-icon-xsmall;
        letter-spacing: 0;
      }
      p {
        margin: 0;
        font-size: @font-small;
        line-height: 12px;
        text-transform: capitalize;
      }
    }
    a {
      &.active {
        li {
          background: @color-button-active;
        }
      }
    }

    .company-logo {
      background: fade(@color-primary, 90%);
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      h3 {
        font-size: @font-h3;
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-style: italic;
        color: @color-white;
      }
    }
    .side-navigation {
      height: 100vh;
      background: fade(@color-primary, 90%);
      ul {
        list-style: none;
        padding: 0 !important;
        li {
          cursor: pointer;
          text-align: center;
          padding: 9px;
          width: 70px;
          height: 70px;
          color: @color-white;
          i {
            font-size: @font-icon-xlarge;
            letter-spacing: 0;
          }
          p {
            margin: 0;
            font-size: @font-small;
            line-height: 12px;
            // text-transform: capitalize;
            text-decoration: none;
          }
          &:hover {
            background: @color-hover;
          }
        }
        a {
          &.active {
            li {
              background: @color-button-active;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .side-navigation {
      display: none;
    }
    .company-logo {
      display: none !important;
    }
  }
  @media only screen and (min-width: 641px) {
    .menuToggle {
      display: none !important;
    }
  }
}
