@import '../../../styles/mixins';

.allocation-container {
  padding: 24px !important;
  .btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  } 
  .allocation-menu {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    .allocation-area {
      display: table-cell;
      background-color: white;
      font-size: 33px;
      font-weight: unset;
      line-height: 1.658571;
      color: $color-primary;
      font-family: var(--theme-font-semibold);
      border: 1px solid #e4e4e4;
      border-radius: 15px;
      text-align: center;
      .allocation-text {
        background-color: white;
        font-family: var(--theme-font-semibold);
        color: $color-primary;
        font-size: 19px;
        border-radius: 19px;
      }
    }
  }
  .allocation-header {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .allocation-table {
    position: relative;
    min-height: 75vh;
    .card-content{
      padding: 0px !important;
    }
    .loader-wrapper {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
    }
    table {
      thead {
        th {
          padding-bottom: 20px;
          font-size: $font-medium;
          // line-height: 16px;
          line-height: 1.5rem;
          color: $color-xdark;
          text-align: left;
          border: none;
          &:first-child {
            padding-left: 20px;
          }
          @media screen and (max-width: 1348px) {
            min-width: auto !important;
          }
        }
      }
      tbody {
        tr {
          height: 70px;
          cursor: pointer;
          &:hover {
            td {
              &:last-child {
                .btn {
                  opacity: 1;
                }
              }
            }
          }
          td {
            vertical-align: middle;
            border-bottom: 1px solid #eeeeee;
            font-size: $font-medium;
            line-height: 16px;
            // line-height: 1.5rem;
            // color: $color-dark-grey;
            position: relative;
            &:first-child {
              padding-left: 20px;
            }
            .btn {
              opacity: 0;
              width: 86px;
              height: 35px;
              // font-size: $font-small;
              // color: $color-primary;
              // border: 2px solid $color-primary;
              // margin-top: 7px;
              // &.delete {
              //   background: transparent;
              // }
              &.edit {
                background: #3f51b5;
                color: $color-white !important;
                margin-right: 10px;
              }
              // &:hover {
              //   color: $color-white;
              //   background: $color-hover;
              // }
              // &:focus {
              //   outline: 0 !important;
              //   box-shadow: none;
              // }
            }
            &:nth-child(5n) {
              padding-right: 25px;
            }
          }
        }
      }
    }
  }
  .table-footer {
    padding-left: 35px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .pagination {
    color: $color-dark-grey;
    display: flex;
    flex-direction: row;
    height: 17px;
    min-width: 205px;
    justify-content: flex-end;
    font-size: $font-small;
    line-height: 14px;
    label {
      padding: 0;
      margin: 0;
    }
    .total-count {
      padding-right: 55px;
      padding-left: 0;
      display: flex;
      align-items: center;
    }
    .pagination-controls {
      display: flex;
      padding: 0;
      position: relative;
      justify-content: center;
      margin-right: 20px;
      align-items: center;
      .prev {
        position: relative;
        cursor: pointer;
        &:after {
          content: '\f111';
          font-family: $font-family-icon;
          font-size: $font-icon-xsmall;
          line-height: 18px;
          position: absolute;
          right: 0;
          top: -9px;
        }
      }
      label {
        min-width: 69px;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
      }
      .next {
        cursor: pointer;
        position: relative;
        &:after {
          content: '\f112';
          font-family: $font-family-icon;
          line-height: 18px;
          font-size: $font-icon-xsmall;
          position: absolute;
          top: -9px;
        }
      }
    }
  }
}
